* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;

}

:root {
  margin: 0;
  padding: 0;
  background: black;
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    #aboutHeading {
        width: 180px !important;
        height: 99px !important;
    }
}