.projectDisplayCard {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.21);
    .info {
        .h1 {
            color: white;
            margin: 0 0 5px 0;
            transition: all 0.2s ease;
        }
        .p {
            color: white;
            font-weight: 300;
            margin-bottom: 15px;
            transition: all 0.2s ease;
        }
        .tools {
            transition: all 0.3s .1s ease;

        }
        .linkCont {
            display: none;
        }
        background-color: rgba(16, 16, 16, 0.62);
        border-top: 1px solid rgba(255, 255, 255, 0.15);
        padding: 40px;
        width: 100%;
        z-index: 7;
        backdrop-filter: blur(20px);
        transition: all 0.5s .2s cubic-bezier(0.87, 0, 0.13, 1);
    }
    .linkContainer {
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(16, 16, 16, 0.86);
        backdrop-filter: blur(20px);
        transition: all 0.5s .1s cubic-bezier(0.87, 0, 0.13, 1);
    }
}

.links {
    display: flex;
    gap: 10px;
    width: fit-content;
    background: rgba(16, 16, 16, 0.62);
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    .link {
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 6px;
        color: #ffffff;
        background: rgba(255, 255, 255, 0.11);
        transition: all 0.2s ease;
    }

    .link:hover {
        color: #000000;
        background: rgba(255, 255, 255, 0.82);

    }
    .link:active {
        scale: .8;
    }
}

.links.compact {
    padding: 0;
    background: transparent;
}

.projectDisplayCard:hover {
    .info {
        transform: translateY(100%);
        transition: all 0.5s .1s cubic-bezier(0.87, 0, 0.13, 1);

        .h1 {
            opacity: 0;
        }
        .p {
            opacity: 0;
        }
        .tools {
            opacity: 0;
        }
    }
    .linkContainer {
        top: 0%;
        transition: all 0.5s .2s cubic-bezier(0.87, 0, 0.13, 1);
    }
}

@media only screen and (max-width: 800px) {
    .projectDisplayCard {
        .info {
            padding:  20px;
            .linkCont {
                display: block;
            }
        }
    }
    .projectDisplayCard:hover {
        .info {
            transform: unset;
            .h1 {
                opacity: 1;
            }
            .p {
                opacity: 1;
            }
            .tools {
                opacity: 1;
            }

        }
        .linkContainer {
            display: none;
            transition: all 0.5s .2s cubic-bezier(0.87, 0, 0.13, 1);
        }
    }
    .links {
        background: transparent;
        padding: 0;
        .link:hover {
            color: #ffffff;
            background: rgba(255, 255, 255, 0.11);
        }
        .link:active {
            scale: .9;
            color: rgba(23, 23, 23, 0.82);
            background: rgba(255, 255, 255, 0.66);
        }
    }
}